<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png" />
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="intro">
            <div>
                <img class="portrait" src="/img/user.png">
            </div>
            <p style="color:rgb(44, 43, 43)">Hey there !<br>Thanks for visiting this page.<br>This site was made for learning purpose by Ashish kumar.<br>Have a good day !!</p>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>